extends docs

block content
    h3.mt-4 Yazılımcı Bul Api Kullanımı
    hr
    p Api Endpointlerini Kullanabilmek İçin 'apikey' sahibi olmak zorundasınız. Apikey her yönetici için otomatik olarak oluşturulur ve verilir.
    p Sahip Olduğunuz apikey'i headers altında tanımlayın.
    p İstediğiniz Endpointe İstediğiniz İsteği Artık Atabilirsiniz. 